################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GlobetrotterTravel.github.io/v17
/.vs/GlobetrotterTravel.github.io/FileContentIndex
/.vs
